* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80vw;
    height: calc(100vh - 100px);
    margin: 0 auto;
}

.shop-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
}

.titles {
    display: flex;
    margin-top: 25px;
    width: 100%;
    justify-content: space-between;
}

.titles__product{
    display: flex;
    flex-direction: column;
    min-height: 350px;
    height: 550px;
    text-align: center;
    margin-bottom: 50px;
}

.titles__product > h2 {
    margin-bottom: 25px;
}

.product__title-img{
    margin-top: 25px;
}

.titles__description {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    height: 550px;
}

.titles__description > h2 {
    margin-bottom: 25px;
}
.titles__price {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    height: 550px;
}

.titles__price > h2 {
    margin-bottom: 25px;
}
.titles__quantity {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    height: 550px;
}

.titles__quantity > h2 {
    margin-bottom: 25px;
}

.titles__empty {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    height: 550px;
}

.titles__empty > h2 {
    margin-bottom: 25px;
}

.product__description-list{
    list-style: none;
    height: 25%;
    margin-top: 35px;
}

.product__price{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    height: 25%;
    margin-top: 75px;
}

.product__itemQuantity{
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    height: 25%;
    margin-top: 75px;
    margin-left: 40px;
}

.product__addButton {
    width: 5%;
    background: #0EA5E9;
    width: 100px;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    height: 100px;
    margin-top: 45px;
} 

.product__addButton:last-child{
    margin-top: 65px;
}